<div class="container">
    <div class="row ">
        <div class="col-12 col-sm 12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <h2>User Login</h2>
            <div class="row g-3">
                <div class="col-12 col-sm 12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Username</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm 12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm 12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   
                    <button routerLink="bookList" class="btn btn-primary">Login</button>

                </div>
                <div class="col-12 col-sm 12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button routerLink="admin" class="btn btn-primary">Back Admin</button>
    
                </div>
                <div class="col-12 col-sm 12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button routerLink="userRegistration" class="btn btn-primary">Back User Registration</button>
                </div>
            </div>
           
        </div>
       
    </div> 
</div>