<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookList">Book List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookEntry">Book Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookSearch">Book Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookDelete">Book Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookIssue">Book Issue</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>